---
layout: page
permalink: /categories/
title: Posts by category
---

Search blog posts by category.


 <h3>Hacks</h3>
 
{% for post in site.categories.Hacks %}
 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
	
<h3>Physics</h3>

{% for post in site.categories.Physics %}
 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
 {% endfor %}

<h3>Mathematics</h3>
 
{% for post in site.categories.Mathematics %}
 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
 {% endfor %}

<h3>Philosophy</h3>
 
{% for post in site.categories.Philosophy %}
 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
 {% endfor %}
 
 <h3>Literature</h3>
 
{% for post in site.categories.Literature %}
 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
 {% endfor %}

<!--  <figure> <div style="text-align:center"><img -->
<!--  src="/images/HaPPYBH.png" width="50%" /> </div> </figure> -->