---
layout: default
---

{% include mathjax.html %}

Welcome to my blog!
Mosts posts were generated in the process of learning some topic
myself; hopefully they are of use to others. This page lists posts in chronological order, but you can also <a
href="https://hapax.github.io/categories/">browse by category</a>.

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>