
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$times: "Times New Roman", Times, serif;
$roboto: 'Roboto Slab', serif;
$merri: 'Merriweather', serif;
$ptSerif: 'PT Serif', serif;
$lora: 'Lora', serif;
$poppins: 'Poppins', sans-serif;
$oswald: 'Oswald', sans-serif;
$nunito: 'Nunito', sans-serif;
$nanum: 'Nanum Gothic', sans-serif;
$lexend: 'Lexend Deca', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
